body {
    font-family: Oswald;
    background-image: url('img/PressToomorrow.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(5, 5, 5);
    height: 1500px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.tm {
    height: 90px;
}
.spoti{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 300px;
}
.spotiszoveg{
    color: white;
    font-size: larger;
    margin-right: 20px;
}
.lejatszo{
    width: 400px;   
    height: 400px;
    margin-top: 30px;
    margin-bottom: 0;
}
.headbar {
    background-color: rgb(6, 6, 6);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom-width: 3px;
    border-style: solid;
    border-bottom-color: gray;
    padding-bottom: 10px;
    height: 90px;
    z-index: 999;
}
.leiras {
    display: none;
    margin-top: 10px;
    font-size:large;
}
.hbgomb {
    padding: 25px;
    background-color: rgb(6, 6, 6);
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: none;
    font-size:x-large;
    font-family: Oswald;
}
.hbgomb:hover {
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#kapcsolatLeiras {
    display: none;
    position: absolute;
    top: 95px;
    right: 0;
    width: 200px;
    background-color: rgb(6, 6, 6);
    padding: 20px;
    border-bottom-color: gray;
    border-left-color: gray;
    border-left-width: 2px;
    border-left-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: white;
}
#megjelenoLinkek{
    display: none;
    position: absolute;
    top: 105px;
    left: 0;
    width: 200px;
    background-color: rgb(6, 6, 6);
    padding: 20px;
    border-bottom-color: gray;
    border-right-color: gray;
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: white;
}
.hbgomb:active {
    background-color: rgb(40, 40, 40);
}

.logok {
    height: 30px;
    margin-right: 5px;
}

.egygomb {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkek {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kozepso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.kozepso .szoveg {
    color: white;
    font-size: larger;
    margin-right: 20px;
}

.kozepso .szovegkep {
    height: 400px;
    opacity: 1; 
}

a{
    text-decoration: none;
}
.elerhetoseg{
    margin: 0;
    color: gray;
}
@media screen and (max-width: 828px) {
.kozepso{
    margin-left: 0px;
    margin-right: 0px;
}
}
@media screen and (max-width: 650px) {
    .kozepso {
        flex-direction: column;
        align-items: center;
        margin-top: 200px; 
        margin-bottom: 100px; 
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .kozepso .szoveg {
        color: white;
        font-size: 16px; 
        text-align: center; 
        margin: 20px 0; 
    }
    
    .kozepso .szovegkep {
        max-width: 100%; 
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Adjust margin as needed */
    }
    
}
@media screen and (max-width: 650px) {
    .spoti {
        flex-direction: column;
        align-items: center;
        margin-top: 200px; /* Adjust margin-top as needed */
        margin-bottom: 100px; /* Adjust margin-bottom as needed */
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .spotiszoveg {
        color: white;
        font-size: 16px; /* Adjust font size as needed */
        text-align: center; /* Center-align text */
        margin: 20px 0; /* Adjust margin as needed */
    }
    
    .lejatszo {
        max-width: 100%; /* Ensure image doesn't overflow container */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Adjust margin as needed */
    }
}
@media screen and (max-width: 828px) {
    .spoti{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 650px) {
    .tm{
        display: none;
    }
}





